<%= form_with(model: starred_repository, local: true) do |form| %>
  <% if starred_repository.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(starred_repository.errors.count, "error") %> prohibited this starred_repository from being saved:</h2>

      <ul>
      <% starred_repository.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :github_id %>
    <%= form.text_field :github_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
